<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         
    <link rel="stylesheet" href="style.css">   
    <!-- read about this css file path in README.MD 2-->
     
</head>
 
<body>
    <!-- <h1>hello</h1>
    <h3><%= name %></h3>
    <h3> your age is <%= age %></h3>

    <script src="check.js"></script> -->
 <main class="main">
    <div class="container">
        <form method="post" action="/ejs">   <!--action me "routes" specify krte hai, dete hai -->
            <div class="inp">
            <label for="username">Name</label>
            <input type="text" name="username">
            <label for="email">Email</label>
            <input type="email" name="email" >
            <button> Submit</button>
        </div>
        </form>
    </div>
</main>
</body>
</html>