<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">   //because ye path to view folder ke ander ka hai 
                                              // agar koi path nhi h to by default ye public folder wale file ko le lega  
</head>
<body>
    <h1>hello</h1>
    <h3><%= name %></h3>
    <h3> your age is <%= age %></h3>

    <script src="check.js"></script>
</body>
</html>